<nav>
    <a href="/">log out</a>
    <a href="/courses">Courses list</a>
    <a href="/courses/add">Add a Course</a>
    <a href="/adminAddGrades">Add Grades</a>
    <a href="/addUser">Add a User</a>
    <a href="/addCourseToUserForm">Add a Course to a User</a>
</nav>