<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CARS</title>
</head>
<body>

    <div>
        <%- include('./partials/adminNav.ejs') %>
    </div>

    <div class="container">
        <div class="row">
            <div class="card">
                <img src="img/merc3.jpg" alt="">
                <h4>SUV</h4>
                <p>Combines elements of road-going passenger cars with features from off-road vehicles, such as raised ground clearance and four-wheel drive.</p>
                <p>Starting from 30,000$</p>
                <a href="#" class="btn">Read More</a>
            </div>
            <div class="card">
                <img src="img/OIP (1).jpg" alt="">
                <h4>Sedan</h4>
                <p>A three-box configuration with separate compartments for engine, passenger, and cargo.</p>
                <p>Starting from 20,000$</p>
                <a href="#" class="btn">Read More</a>
            </div>
            <div class="card">
                <img src="img/OIP.jpg" alt="">
                <h4>Coupe</h4>
                <p>Four wheels and an enclosed body seating two persons and with an outside seat for the driver in front</p>
                <p>Starting from 30,000$</p>
                <a href="#" class="btn">Read More</a>
            </div>
        </div>
    </div>
</body>
</html>