<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CARS</title>
</head>
<body>
    <fieldset>
        <legend>Log in</legend>
        <form method="post">
            <label for="role">Select a role:</label>
            <select id="role" name="role" required>
                <option value="instructor">Instructor</option>
                <option value="student">Student</option>
                <option value="admin">Admin</option>
            </select><br>
            <label for="id">ID:</label>
            <input type="text" name="id" id="id" required placeholder="Enter your ID"><br>

            <label for="password">Password:</label>
            <input type="password" name="password" id="password" required placeholder="Enter your Password"><br>

            <input type="submit" value="submit">
        </form>
    </fieldset>
</body>
</html>